#feedback { font-size: 1.2em; }
.ratings-imgs {
    background: url("http://localhost/transaction/images/ratings-sprite.png") no-repeat scroll 0px -88px transparent;
    margin-right: 10px;
    float: left;
    width: 113px;
    height: 22px;
}
.toright {
	float: right;
}