.ul-select {
	float: left;
	list-style: none;
	margin: 0px 20px 20px 0px;
	padding: 0px;
}
.reviewul {
	margin: 0px;
}
.reviewul li {
	display: inline;
	list-style: none;
}
.ratings-imgs {
    background: url("http://localhost/transaction/images/ratings-sprite.png") no-repeat scroll 0px -88px transparent;
    margin-right: 10px;
    float: left;
    width: 113px;
    height: 22px;
}
.selectarea {
	clear: both;
}
.selectbox {
	width: 150px;
	height: 30px;
}
#willbechange {
	clear: both;
}
#buttonbox {
	clear: both;
	height: 125px;
	padding: 20px;
	border: 1px solid black;
}
#zoomthumbs {
	margin: 20px 0 0 0;
	padding: 0px;
}
#zoomthumbs li {
	margin: 0px;
	padding: 0px;
	display: inline;
	list-style: none;
}